# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
import pandas as pd
data = pd.read_csv('./file1.csv')
data.shape
data
#the data frame contain empty rows that should be erased
#customer lifetime value is not well explain how it represent 'the total revenue the client will derive from their entire relationship with a customer' if is in terms of return over investment or any other profit metric.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.dtypes
#Number of Open Complaints has a non-described format

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [22]:
#Categorical values are as follow
print(data['ST'].unique())
print(data['GENDER'].unique())
print(data['Education'].unique())
print(data['Policy Type'].unique())
print(data['Vehicle Class'].unique())
print(data['Number of Open Complaints'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

In [34]:
print(data['Customer Lifetime Value'].unique())
#looks like there are plenty of options then it should be consider as a numerical value

[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

In [29]:
income_range = data['Income'].max()-data['Income'].min()
print(income_range)
PMA_range = data['Monthly Premium Auto'].max()-data['Monthly Premium Auto'].min()
print(PMA_range)
TCA_range = data['Total Claim Amount'].max()-data['Total Claim Amount'].min()
print(TCA_range)
CLV_range = data['Customer Lifetime Value'].max()-data['Customer Lifetime Value'].min()
print(CLV_range)
#income has a wider range
#i included Customer Lifetime Value on purpose to demonstrate that the profitability metric is treated as a rating and not a numerical value

99960.0
35293.0
2892.857571

TypeError: '>=' not supported between instances of 'float' and 'str'

In [32]:
print(data['Income'].describe())
print(data['Income'].median())
print(data['Monthly Premium Auto'].describe())
print(data['Monthly Premium Auto'].median())
print(data['Total Claim Amount'].describe())
print(data['Total Claim Amount'].median())
print(data['Customer Lifetime Value'].describe())
# looks like the higher deviation from the median occurs within the monthly premium auto column, suggesting that the average is not representative of the most frequent values in the array but is pushed by higher top values (potential outlayers)

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64
36234.0
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64
83.0
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64
354.729129
count           1068
unique          1027
top       445811.34%
freq               4
Name: Customer Lifetime Value, dtype: object

In [37]:
print(data['ST'].value_counts())
print(data['ST'].describe())
print(data['GENDER'].value_counts())
print(data['GENDER'].describe())
print(data['Education'].value_counts())
print(data['Education'].describe())
print(data['Policy Type'].value_counts())
print(data['Policy Type'].describe())
print(data['Vehicle Class'].value_counts())
print(data['Vehicle Class'].describe())
print(data['Number of Open Complaints'].value_counts())
print(data['Number of Open Complaints'].describe())

#ST should be arranged to follow the same nomenclature - Oregon seem the highest value with almost 30% of the total
#GENDER should be arraged to follow the same nomenclature - Looks is balanced 50/50 among the options
#Education Bachelors should be equal to Bachelor - this string, bachelor, is the highest
# Four-Door Car is the highest. There is no description on if a type of cars includes as a group different cars
#1/0/0 is the highest value. But no specifications on what it means

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64
count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64
count       1071
unique         6
top       1/0/00
freq         830
Name: Number of Open Complaints, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [52]:
data['ST'] = data['ST'].replace('Cali','California')

In [53]:
data['ST'] = data['ST'].replace('AZ','Arizona')

In [54]:
data['ST'] = data['ST'].replace('WA','Washington')

In [56]:
data['ST'].value_counts()

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [59]:
freq_ST = data['ST'].value_counts()

In [60]:
freq_ST.nsmallest(5)

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

In [61]:
freq_ST.nlargest(5)

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [66]:
policy_sold = data['Policy Type'].value_counts()
policy_sold.nlargest(1)

Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [20]:
PA_policy = data[data['Policy Type']=='Personal Auto']
CA_policy = data[data['Policy Type']=='Corporate Auto']
print(PA_policy.loc[:,'Income'].mean())
print(CA_policy.loc[:,'Income'].mean())
print((CA_policy.loc[:,'Income'].mean() / PA_policy.loc[:,'Income'].mean() -1)*100)
#the average income for a client with a corporate auto policy is 8.4% higher than the income of a client suscribing a personal auto policy

38180.69871794872
41390.31196581197
8.406376403882865

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [35]:
data['Total Claim Amount'] =  pd.to_numeric(data['Total Claim Amount'], errors='coerce')
top25 = data['Total Claim Amount'].quantile(q=0.75)
top25_customers = data[data['Total Claim Amount']>=top25]
top25_customers.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    273.000000            273.000000          273.000000
mean   24106.545788            163.000000          774.005353
std    27542.717560            613.645376          291.304731
min        0.000000             63.000000          532.800000
25%        0.000000             99.000000          595.200000
50%    18846.000000            113.000000          673.342650
75%    44897.000000            133.000000          844.481918
max    99316.000000          10202.000000         2893.239678